.b-cases{
    @include sectionRose;
}
.b-cases-title{
    @include textSection;
    margin-bottom: 6.4rem;
}
.b-cases-title__name{
    @include title;
}
.b-cases-projects__element{
    text-align: center;
    margin-bottom: 10rem;

}
.b-cases-projects__element:last-child{
    margin-bottom: 0;
}
.b-cases-projects__image{
    width: 100%;
    margin-bottom: 4.5rem;
}
.b-cases-projects__link{
    font-family: $GilroyMedium;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-decoration-line: underline;
    color: #070707;
}
@media (max-width: 1200px) {
    .b-cases-projects__element{
        margin-bottom: 6rem;
    }
}
@media (max-width: 576px) {
    .b-cases-projects__image{
        margin-bottom: 3.3rem;
    }
}
